.header{
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}
.header h4{
    font-size: 30px;
    font-weight: 600;
}
.header a{
    display: flex;
}
.header a > span{
    font-size: 30px;
    font-weight: 800;
}
.sectionButtonsTop{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px;
}
.sectionButtonsTop a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    padding: 15px 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 2px 2px 2px #0000000c;
}
.sectionButtonsTop a p{
    font-family: 'Alef', sans-serif;
    font-weight: 600;
}
.sectionButtonsTop a span{
    font-weight: 200;
    font-size: 30px;
}
.sectionsButtonsBotton{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
.sectionsButtonsBotton a{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 2px 2px 2px #0000000c;
}
.sectionsButtonsBotton a > span{
    font-weight: 200;
    font-size: 40px;
}
.sectionsButtonsBotton a .text{
    font-size: 12px;
    font-weight: 400;
    color: #5c5c5c;
    padding-left: 15px;
    border-left: 1px solid black;
}
.sectionsButtonsBotton a .text h5{
    font-size: 15px;
    font-weight: 600;
    color: black;
}
.sectionsButtonsBotton a #duvida{
    font-weight: 400;
}
.sectionsButtonsBotton .btnSair{
    border: 1px solid #B70000;
}
.sectionsButtonsBotton .btnSair > span{
    color: #B70000;
}
.sectionsButtonsBotton .btnSair .text{
    border-left-color: #B70000;
}
.sectionsButtonsBotton .btnSair .text h5{
    color: #B70000;
}