body{
    width: 100%;
    height: calc(var(--vh, 1vh)* 100);
    display: flex;
    justify-content: center;
    align-items: center;
}
.divContainer{
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.11);
    background: white;
}
.divContainer header img{
    width: 120px;
}
.divContainer header p{
    font-size: 28px;
    font-weight: 500;
    color: rgb(109, 109, 109);
    text-align: center;
}
.divContainer form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0 40px 0;
}
.divContainer form .input{
    width: 100%;
    height: 40px;
    gap: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: rgb(247, 247, 247);
    border: 1px solid rgb(160, 160, 160);
}
.divContainer form .input span{
    font-weight: 200;
    color: rgb(126, 126, 126);
}
.divContainer form .input input{
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    background: transparent;
}
.divContainer form span{
    display: flex;
    gap: 10px;
    
}
.divContainer form select{
    height: 40px;
    background: rgb(247, 247, 247);
    border: 1px solid rgb(160, 160, 160);
    padding: 0 10px;
    color: rgb(105, 105, 105);
    border-radius: 5px;
}
.divContainer form select option{
    color:  black;
    
}
.divContainer form span button{
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: black;
}
.divContainer form span button span{
    color: white;
}
.divContainer p, .divContainer a{
    font-size: 11px;
}
.divContainer a strong:hover{
    text-decoration: underline;
}

/* -------- Div erro ------- */
.divErro{
    padding: 10px 15px;
    border-radius: 5px;
    background: rgb(255, 204, 204);
    border: 1px solid rgb(255, 142, 142);
    color: rgb(255, 52, 52);
    font-size: 18px;
    transition: 500ms;
}
.divErro p{
    font-size: 13px;
    font-weight: 500;
}









