
/* --------- Header ------------- */
.header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 20px 30px;
    border-radius: 0 0 50px 50px;
}
.header .divText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header div .nome{
    font-size: 20px;
}
.header div .itenstop{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 10px;
}
.header div .itenstop span{
    font-size: 15px;
    font-weight: 200;
}
.btnNotificacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    position: relative;
    background: transparent;
    color: white;
}
.btnNotificacao > img{
    width: 50px;
    height: 50px;
}
.btnNotificacao .qtdNotificacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    position: absolute;
    background: #ff0404;
    border-radius: 50%;
    bottom: 0px;
    right: 0px;
}
.btnNotificacao .qtdNotificacao p{
    display: inline-block;
    font-weight: 600;
}

/* ------------ Main ------------- */
main{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
}

    /* ----- Section Notificações ----- */
    .sectionNotificacoes{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-end;
    }
    .sectionNotificacoes a{
        font-size: 14px;
        margin-right: 10px;
    }
    .sectionNotificacoes .cardNotificacao{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        border-radius: 25px;
        background: white;
        box-shadow: 2px 2px 2px #0000000c;
    }
    .sectionNotificacoes .cardNotificacao img{
        width: 40px;
        height: 40px;
    }
    .sectionNotificacoes .cardNotificacao .text{
        width: 100%;
        padding-left: 15px;
        margin-left: 15px;
        border-left: 1px solid black;
    }
    .sectionNotificacoes .cardNotificacao .text h4{
        font-size: 14px;
        font-weight: 600;
        color: #4d4d4d;
    }
    .sectionNotificacoes .cardNotificacao .text p{
        font-size: 12px;
        color: #5c5c5c;
    }
    .sectionNotificacoes .cardNotificacao .btnFechar{
        width: 15%;
        display: flex;
        justify-content: flex-end;
    }

    /* -------- Section Anotações --------- */
    .sectionGraficos{
        display: none;
        justify-content: space-between;

    }
    .sectionGraficos .cardGrafico{
        width: 32%;
        height: 140px;
        background: white;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 2px 2px 2px #0000000c;
        padding: 15px 15px 15px 20px;
        margin-bottom: 10px;
    }
    .sectionGraficos .cardGrafico header{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
    .sectionGraficos .cardGrafico header p{
        font-family: 'Alef', sans-serif;
        font-size: 15px;
        font-weight: 700;
        color: #1e1e1e;
    }
    .sectionGraficos .cardGrafico header img{
        width: 20px;
        height: 20px;
    }
    .sectionGraficos .cardGrafico > p{
        position: relative;
        top: -15px;
        font-size: 60px;
        font-weight: 600;
    }
    .sectionGraficos .cardGrafico .rodape{
        position: relative;
        top: -30px;
        font-size: 12px;
        font-weight: 500;
        font-style: italic;
        color: #4d4d4d;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sectionGraficos .cardGrafico .rodape a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid rgb(196, 196, 196);
    }
    .sectionGraficos .cardGrafico .rodape a:hover{
        background: rgb(238, 238, 238);
    }
    .sectionGraficos .cardGrafico .rodape span{
        margin-left: 2px;
        color: #a5a5a5;
    }
    .sectionGraficos .cardGrafico .rodape p{
        font-size: 9px;
    }
    .sectionGraficos .cardGrafico .rodape p strong{
        color: #b70000;
    }


    /* ----- Section Botoes ----- */
    .sectionButtons{
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
    .sectionButtons span {
        display: flex;
        justify-content: space-between;
    }
    .sectionButtons span a{
        width: 31%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        border-radius: 24px;
        padding: 16px;
        text-align: start;
        font-size: 15px;
        font-weight: 600;
        color: #1e1e1e;
        line-height: 1.1;
        box-shadow: 2px 2px 2px #0000000c;
    }
    .sectionButtons span a img{
        width: 30px;
        height: 30px;
    }
    .sectionButtons span a p{
        font-family: 'Alef', sans-serif;
    }
    #btnAdicionar{
        background-image: linear-gradient(25deg, black, rgb(15, 15, 15),rgb(150, 150, 150));
        color: white;
    }
    #btnAdicionar span{
        font-weight: 400;
    }


    /* -------- Section Banner -------- */
    .sectionBanner .divBanner{
        width: 100%;
        height: 109px;
        border-radius: 20px;
        box-shadow: 2px 2px 2px #0000000c;
        border: 1px solid rgb(212, 212, 212);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .sectionBanner .divBanner img{
        max-height: 100%;
        height: 100%;
        
    }


    /* --------- section Lançamentos ----------*/
    .ultimosLancamento{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .ultimosLancamento header{
        margin-top: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ultimosLancamento header h3{
        font-weight: 600;
    }
    .ultimosLancamento header a{
        font-size: 14px;
    }

        /* ------- cardLançamento ------- */
        .lancamento{
            background: white;
            border-radius: 25px;
            box-shadow: 2px 2px 2px #0000000c;
        }
        .ultimosLancamento .cardLancamento{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            border-radius: 25px;
            background: #fafafa;
            border-radius: 20px;
            box-shadow: 1px 1px 3px rgb(190, 190, 190);
            border: 1px solid transparent;
        }
        .ultimosLancamento .cardLancamento:hover{
            cursor: pointer;
        }
        .ultimosLancamento .cardLancamento img{
            width: 40px;
            height: 40px;
        }
        .ultimosLancamento .cardLancamento .text{
            width: 100%;
            padding-left: 15px;
            margin-left: 10px;
            border-left: 1px solid black;
        }
        .ultimosLancamento .cardLancamento .text h4{
            font-size: 14px;
            font-weight: 600;
            color: #111111;
        }
        .ultimosLancamento .cardLancamento .text p{
            font-size: 12px;
            color: #5c5c5c;
        }
        .ultimosLancamento .cardLancamento .text .infoDate{
            font-style: italic;
        }
        .ultimosLancamento .cardLancamento .btnFechar{
            width: 15%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .ultimosLancamento .lancamento .maisInfo{
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: #5c5c5c;
            transition: 500ms;
            opacity: 0;
        }
        .ultimosLancamento .lancamento .maisInfo > span{
            display: none;
            padding-left: 15px;
            border-left: 1px solid #4d4d4d;
        }
        .ultimosLancamento .lancamento .maisInfo h3{
            font-size: 14px;
            font-weight: 600;
        }
        .ultimosLancamento .lancamento .maisInfo p{
            display: inline-block;
            max-height: 42px;
            font-size: 12px;
            font-weight: 300;
            font-style: italic;
        }
        .ultimosLancamento .lancamento .maisInfo button{
            display: none;
            gap: 10px;
            align-items: center;
            font-size: 15px;
            font-weight: 600;
            color: #b70000;
        }










/* ------------- Modal Relatorio ------------------ */
.modalRelatorio{
    position: fixed;
    width: 100%;
    height: calc(var(--vh, 1vh)* 100);;
    background: rgba(0, 0, 0, 0.603);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}        
.modalRelatorio .relatorio{
    width: 90%;
    max-width: 400px;
    background: #f2f2f2;
    padding: 30px 30px;
    border-radius: 20px;
}        
.modalRelatorio header{
    margin-bottom: 20px;
}        
.modalRelatorio header h3{
    font-size: 35px;
}        
.modalRelatorio header p{
    position: relative;
    font-size: 12px;
    top: -10px;
}        
.modalRelatorio form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}        
.modalRelatorio form .input{
    width: 100%;
    height: 58px;
    display: flex;
    gap: 10px;
    align-items: center;
    background: white;
    padding: 0 15px;
    border-radius: 20px;
    border: 1px solid rgb(160, 160, 160);
}        
.modalRelatorio form .input span{
    display: flex;
    align-items: center;
    height: 100%;
    color: #b3b3b3;
    font-weight: 200;
}        
.modalRelatorio form .input .seta{
    color: black;
    font-weight: 500;
}        
.modalRelatorio form .input select{
    width: 100%;
    height: 100%;
    font-size: 15px;
    background: transparent; 
}        
.modalRelatorio form .date{
    width: 100%;
}        
.modalRelatorio form .date p{
    font-style: italic;
    font-size: 12px;
    color: #5c5c5c;
    margin: 0 20px; 
}        
.modalRelatorio form .date > span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 58px;
    gap: 10px;
    padding: 0 20px;
    background: white; 
    border-radius: 20px;
    border: 1px solid rgb(160, 160, 160);    
}        
.modalRelatorio form .date > span span{
    color: #b3b3b3;
    font-weight: 200;
}              
.modalRelatorio form .date > span input{
    width: 100%;
    height: 100%;
    text-align: start;
    font-size: 15px;
    color: #b3b3b3;
    background: transparent;
    border: none;
}        
.modalRelatorio form .btnGerar{
    width: 100%;
    height: 58px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    border-radius: 10px;
    margin-top: 15px;
}   
.modalRelatorio form .btnGerar p{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Alef', sans-serif;
}   
.modalRelatorio form .btnCancelar{
    width: 100%;
    height: 58px;
    font-weight: 600;
    color: black;
    font-family: 'Alef', sans-serif;
    border: 2px solid black;
    border-radius: 10px;
}   
.modalRelatorio form .btnCancelar p{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Alef', sans-serif;
}   



/* ---------- Notificações ---------- */

.modalNotificacoes{
    position: absolute;
    right: 0;
    height: calc(var(--vh, 1vh)* 100);
    background: rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
    overflow: hidden;
    transition: 500ms;
}
.modalNotificacoes .notificacoes{
    display: none;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 100%;
    padding: 25px 0px;
    background: white;
    box-shadow: -5px -5px 10px rgb(66, 66, 66);
}
.modalNotificacoes .notificacoes header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 25px 40px 25px;
}
.modalNotificacoes .notificacoes header h3{
    font-size: 30px;
    font-weight: 600;
}
.modalNotificacoes .notificacoes header span{
    font-size: 30px;
    font-weight: 700;
}
.modalNotificacoes .notificacoes header span:hover{
    cursor: pointer;
}
.modalNotificacoes .notificacoes > div{
    height: 87%;
    padding: 15px 20px 0 25px;
    overflow: auto;
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.192),
                inset 0 -10px 10px -10px rgba(0, 0, 0, 0.192) ;
}
.modalNotificacoes .notificacoes > div > hr{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    margin: 15px 0;
}
.modalNotificacoes .notificacoes > div > span{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.modalNotificacoes .notificacoes > div > span img{
    width: 40px;
    height: 40px;
}
.modalNotificacoes .notificacoes > div > span div{
    width: 100%;
    display: inline-block;
}
.modalNotificacoes .notificacoes > div > span div h5{
    font-weight: 600;
    font-size: 15px;
}
.modalNotificacoes .notificacoes > div > span div p{
    font-size: 12px;
    color: #5c5c5c;
}
.modalNotificacoes .notificacoes > div > span button{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #e9e9e9;
}
.modalNotificacoes .notificacoes > div > span button span{
    font-size: 20px;
}

/* -------- Modal Excluir --------- */
.divModalExcluir{
    position: fixed;
    width: 100%;
    height: calc(var(--vh, 1vh)* 100);;
    display: none;
    justify-content: center;
    align-items: center;
    background: #00000054;
    z-index: 1000;
}
.divModalExcluir .modalExcluir{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 400px;
    width: 90%;
    padding: 30px 20px;
    border-radius: 20px;
    background: #f2f2f2;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.397);
}
.divModalExcluir .modalExcluir header{
    display: flex;
    flex-direction: column;
}
.divModalExcluir .modalExcluir header img{
    width: 50px;
    height: 50px;
    margin: 0 auto 20px auto;
}
.divModalExcluir .modalExcluir header p{
    font-size: 12px;
    font-style: italic;
    color: #5c5c5c;
}
.divModalExcluir .modalExcluir hr{
    margin: 15px 0;
}
.divModalExcluir .modalExcluir div{
    font-style: italic;
    font-size: 12px;
    color: #5c5c5c;
    margin-bottom: 25px;
}
.divModalExcluir .modalExcluir button{
    height: 59px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    font-family: 'Alef', sans-serif;
    border: 2px solid black;
}
.divModalExcluir .modalExcluir .btnExcluir{
    background: black;
    color: white;
    margin-bottom: 10px;
    border: none;
}

/* Media */
@media(min-width: 800px){
    .sectionGraficos{
        display: flex;
    }

    .sectionButtons{
        display: flex;
        gap: 15px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sectionButtons span {
        max-width: 49%;
        width: 49%;
        display: flex;
        justify-content: space-between;
    }
    .sectionButtons span a{
        max-width: 120px;
        width: 31%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        border-radius: 24px;
        padding: 16px;
        text-align: start;
        font-size: 15px;
        font-weight: 600;
        color: #1e1e1e;
        line-height: 1.1;
        box-shadow: 2px 2px 2px #0000000c;
    }
    .sectionButtons span a:hover{
        background: rgb(245, 245, 245);
    }
}